### Firebase ###
.idea
**/node_modules/*
**/.firebaserc
package-lock.json

### Firebase Patch ###
.runtimeconfig.json
.firebase/

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace